ul {
    padding: 0px !important;
}

.single_title {
    margin-top: 30px;
    font-size: 40px;
    font-family: 'Nunito Sans', sans-serif;
}

.img_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.single_image {
     width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 500px;
    height: 700px;
}

.single_new_price {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.single_price {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    color: grey;
}

.brand {
    margin-top: 50px;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}

.desc {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
}

.size_btn {
    color: black;
    font-family: 'Nunito Sans', sans-serif;
    background-color: white;
    border: 4px solid transparent;
    margin: 2px 5px;
    padding: 5px 10px;
}

.active_val {
    background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, #fceb9b, #d475d2) border-box;
    border-radius: 15px;
    border: 4px solid transparent;
}

.active_val:hover {
    background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, #fceb9b, #d475d2) border-box;
    border-radius: 15px;
    border: 4px solid transparent;
}

.cart_btn {
    font-family: 'Nunito Sans', sans-serif;
    min-height: 10px;
    border: none;
    border-radius: 15px;
    margin: 2px 5px;
    padding: 10px 15px;
}

.cart_btn:disabled {
    font-family: 'Nunito Sans', sans-serif;
    border: 1px solid;
    color: gray;
    border-radius: 15px;
    margin: 2px 5px;
    padding: 11px 16px;
}

.cart_btn:enabled {
    padding: 11px 16px;
    color: white;
    transition: 0.5s;
    background-image: linear-gradient(to right, #4ebdfe 0%, #3bb6f8 51%, #3b52f8 100%);
    background-size: 125% auto;
}

.cart_btn:hover, .go_to_cart_btn:hover {
    color: black;
    background-position: right center; /* change the direction of the change here */
}

.go_to_cart_btn {
    font-family: 'Nunito Sans', sans-serif;
    text-decoration: none;
    color: white;
    border-radius: 15px;
    margin: 2px 5px;
    padding: 14px 17px;
    transition: 0.5s;
    background-image: linear-gradient(to right, #e7b5e6 0%, #dd89db 51%, #d475d2 100%);
    background-size: 125% auto;
}

@media only screen and (max-width: 768px) {

    .single_title {
        font-size: 35px;
    }

    .single_image {
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        width: 300px;
        height: 500px;
    }
}